<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Tips</title>
    <link th:href="@{./styles.css}" rel="stylesheet" />
</head>
<body>
<header class="header">
    <h1>Dev Tip of the Day!</h1>
    <p>Application for developer tips leveraging Ollama to generate tips.</p>
</header>
<section class="features">
    <div class="feature" th:each="item: ${tips}">

        <h2 th:utext="${item.tipType()}"></h2>
        <p th:utext="${item.question()}"></p>
        <p th:utext="${item.answer()}"></p>

    </div>
</section>
<footer class="footer">
    <a href="https://github.com/esoto6">esoto6</a>
</footer>
</body>
</html>