<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Tips</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header class="header">
    <h1>Dev Tip of the Day!</h1>
    <p>Application for developer tips leveraging Ollama to generate tips.</p>
</header>
<section class="features">
    <div class="feature">
        <h2>Java Tip</h2>
        <p th:text="${javaTip}">Loading...</p>
    </div>
    <div class="feature">
        <h2>Python Tip</h2>
        <p th:text="${pythonTip}">Loading...</p>
    </div>
    <div class="feature">
        <h2>Design Tip</h2>
        <p th:text="${designTip}">Loading...</p>
    </div>
</section>
<footer class="footer">
    <p>Contact us at: admin@tipoftheday.com</p>
</footer>
</body>
</html>