<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Tips</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header class="header">
    <h1>Dev Tip of the Day!</h1>
    <p>Application for developer tips leveraging Ollama to generate tips.</p>
</header>
<section class="features">
    <div class="feature" th:each="item: ${ragTips}" >

        <h2 th:text="${item.tipType()}"></h2>
        <p th:text="${item.question()}"></p>
        <p th:text="${item.answer()}"></p>

    </div>
</section>
<footer class="footer">
    <p>edwinsoto@tipoftheday.com</p>
</footer>
</body>
</html>